<!--Button to open Dialog Box-->
<button mat-button (click)="openTempDialog()" id="btn-primary">Open Dialog</button>

<!--Code for DIALOG BOX-->


<ng-template #dialogRef let-mydata>
  <h5>ADD FACILITY</h5>
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    Accordion Name<input  matInput name="input1" [(ngModel)]="input1" (change)="getChange()"><br><br>
    First Name<input matInput name="input2" [(ngModel)]="input2" (change)="getChange()"><br><br>
    Last Name<input matInput name="input3" [(ngModel)]="input3" (change)="getChange()">
  </mat-form-field>
  <mat-form-field appearance="fill">
  </mat-form-field>

  <!--Button for hide/show Accordion-->
  <button (click)="toggleShow(); closeTempDialog()" type="checkbox" >SUBMIT</button>&nbsp;&nbsp;

</ng-template>




<!--Code For ACCORDION-->
<div *ngIf="isShown" class="row container-fluid"  id="divshow" >
  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>

        <mat-panel-description>
          {{newinput1}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      First Name:<input matInput name="newinput2" [(ngModel)]="newinput2"><br><br>
      Last Name:<input matInput name="newinput3" [(ngModel)]="newinput3"><br><br>
    </mat-expansion-panel>
  </mat-accordion>
  </div>






